<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- save the message-->
<!--<div th:text="${movie.toString()}"></div>-->
<!--<div th:text="${tickets.toString()}"></div>-->

<div>Seat Number: </div>
<form action="/submitForm" method="post">
    <div th:each="ticket : ${tickets}">
        <div th:if="${ticket.isBook()==false}">
            <input type="radio" th:id="'option_' + ${ticket.id}" th:name="'selectedOptions'" th:value="${ticket.id}">
            <label th:for="'option_' + ${ticket.id}" th:text="${ticket.id}+available"></label><br>
        </div>
        <div th:if="${ticket.isBook()}">
            <input type="radio" th:id="'option_' + ${ticket.id}" th:name="'selectedOptions'" th:value="${ticket.id}" th:disabled="true">
            <label th:for="'option_' + ${ticket.id}" th:text="${ticket.id}+unavailable"></label><br>
        </div>
    </div>
    <input type="hidden"  id="movieId" name="movieId" th:value="${movie.getId()}"/>
    <label>
        <input type="text" id="email" name="email" placeholder="please input email" required>
    </label>
    <button type="submit">Submit</button>
</form>

</body>
</html>